<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- How long to display the match list in the team's admin section after the tournament has ended -->
    <add key="CurrentTournamentEndMatchUpdateDays" value="7"/>
    <!-- # of days to allow the teams to enter match scores after the match date -->
    <add key="DaysToAllowMatchScoreUpdatesAfterMatchDate" value="7"/>
    <!-- Add comma seperated match id's to allow them for updates by the respective teams -->
    <add key="MatchIDsForScoreUpdateAllowedCommaSeperated" value=""/>
    <!--  specify the student team names so they will get discount during the regsitration process of $60. this will appear on the paypal page -->
    <add key="StudentTeamNamesForFees" value="SMU Mustangs Blue,UTDCC"/>
    <!-- Set this to the number of items to be displayed -->
    <add key="AnnouncementsDisplayCount" value="150"/>
    <!-- Set this to 1 if we want to display only weekends on tournament schedule edit page for the admin -->
    <add key="DisplayWeekendsOnlyforScheduleEntry" value="0"/>
    <add key="DisplayMainPageAnouncementTournamentsCount" value="10"/>
  </appSettings>
  <connectionStrings>
    <!-- For production server
    <add name="dallascricketleague" connectionString="Data Source=tcp:sql2k802.discountasp.net;Initial Catalog=SQL2008_739130_dallascrick;User ID=SQL2008_739130_dallascrick_user;Password=dcl650;" providerName="System.Data.SqlClient"/>
     -->
    <!-- For development server
    <add name="dallascricketleague" connectionString="server=localhost;user id=dcltest1;pwd=dcltest1;Initial Catalog=dallascricket;" providerName="System.Data.SqlClient"/>
    -->
    <!--<add name="dallascricketleague" connectionString="Data Source=DESKTOP-73PQEIU\LOCAL;Initial Catalog=SQL2008_739130_dallascrick;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="dallascricketleague" connectionString="server=sql2k1201.discountasp.net;Initial Catalog=SQL2012_881749_leatherball;uid=SQL2012_881749_leatherball_user;pwd=dcl950" providerName="System.Data.SqlClient"/>
    <!--<add name="dallascricketleague" connectionString="Data Source=tcp:sql2k802.discountasp.net;Initial Catalog=SQL2008_739130_dallascrick;User ID=SQL2008_739130_dallascrick_user;Password=dcl650;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="Ajaxtoolkit"/>
      </controls>
    </pages>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="None"/>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:DEBUG;TRACE">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>